<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/stils.css"/>
    <title>Burtu spēle</title>
   <link rel="stylesheet" href="/static/stils.css">
</head>
<body>
    <ul>
        <li><a href="/noteikumi"><h3>Noteikumi</h3></a></li>
        <li><a href="/speles_rezultati"><h3>Rezultāti</h3></a></li>
        <li><a href="/sakt_speli"><h3>Sakt spēli</h3></a></li>
        <li><a href="/autors"><h3>Par autoru</h3></a></li>
    </ul>
  {% block saturs%}

  {% endblock%}
  
</body>
</html>

