{% extends "layout.html"%}
{% block saturs%}
  <div class="header">
    <h1>
      Burtu spēles noteikumi
      
    </h1>

    <div class="header">
      <h3>
        <a href="/">Atgriezties uz sākumu</a>
        
      </h3>
      <p>1. Spēles sākumā ailite jāievada savs vārds un jānospiež pogu.</p>
      <p>2. Tālāk jāizvēlas burtu skaits vārdā.</p>
      <p>3. Jānospiež pogu "Ģenerēt vārdu".</p>
      <p>4. Tālāk jāeivada burti pareiza secība, lai sānāk vārds.</p>

      <p>5. Par garāku vārdu salikšanu var iegūt vairāk punktu.</p>
        
{% endblock%}
