{% extends "layout.html"%}
{% block saturs%}
  <div class="header">
    <h1>
      Burtu spēles noteikumi
      
    </h1>

    <div class="header">
      <h3>
        <a href="/">Atgriezties uz sākumu</a>
        
      </h3>
      <p>1. Spēles sākumā ailītē jāievada savs vārds un jānospiež pogu.</p>
      <p>2. Tālāk jāizvēlas burtu skaits vārdā.</p>
      <p>3. Jānospiež pogu "Ģenerēt vārdu".</p>
      <p>4. Tālāk jāievada burti pareizā secībā, lai sānāk vārds.</p>

     
        
{% endblock%}
