<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezultāti</title>
   <link rel="stylesheet" href="/static/stils.css">
</head>
<body>
  <div class="header">
    <h1>
      Burtu spēles rezultāti
      
    </h1>

    <div class="header">
      <h3>
        <a href="/">Atgriezties uz sākumu</a>
        
      </h3>
      <p> <a href="/dati/top.json">Spēles rezultāti</a></p>
        
</body>
</html>
